<%=link_to "Take me Back!", (:back)%>
<div class="class-col-md-8">
	<center>
		<div class="container index">
			<div class="col-md-12">

			<div class="col-md-12">

			<hr>
				<div class="row">

				<h2>

          “It will be everywhere and the world will have to readjust. World governments will have to readjust.”
          <h3>John McAfee, Founder of McAfee<h3>
            <hr>
				</h2>
        <h2>

          “Economists and journalists often get caught up in this question: Why does Bitcoin have value? And the answer is very easy. Because it is useful and scarce.”

          <h3>Eric Voorhees, co-founder of the Bitcoin company Coinapult<h3>
            <hr>
        </h2>
        <h2>

          “I do think Bitcoin is the first [encrypted money] that has the potential to do something like change the world.”

                  <h3>Peter Thiel, Co-Founder of Paypal<h3>
            <hr>
        </h2>


				</div>

			</div>
		</div>
		</div>
	</center>
	</div>
