<h1 class="title">Bitlist</h1>
<!-- <p>Find me in app/views/items/index.html.erb</p> -->

<h2 class="subTitle">Post</h2>
<h2 class="subTitle">Account</h2>

	<ul>
		<% @items.each do |i| %>
		<p>
			<%= i.category %>
		</p>
		<% end %>
	</ul>
