<h1>categories/show/views


  </h1>

<%@items.each do |item|%>

<ul>
  <h2>
    <p><hr><%=link_to item.name, item_path(item.id)%></p></br>
  </h2>
</ul>
  <%end%>
  <%=link_to "All categories", root_path%>




<%= params %>
