@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
 @import "font-awesome";

 /*
  *= require rails_bootstrap_forms
  */

.body{
  margin: 0 auto;
}

 #pay-with-btc {
   position:relative;

   overflow:hidden;
   font-family: 'Ubuntu', sans-serif;
 }

 #pay-with-btc a {
   text-decoration:none;
   -webkit-box-shadow: 0px -12px 35px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -12px 35px -2px rgba(0,0,0,0.75);
box-shadow: 0px -12px 35px -2px rgba(0,0,0,0.75);

 }

.container-fluid{
  margin: 0 auto;
}

 #shine {
   position:absolute;
   width:100vw;
   height:10vw;
   background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
   background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  //  -webkit-animation:slide 2s ease-in 1;
  //  -moz-animation:slide 2s ease-in 1;
  //  animation:slide 2s ease-in 1;
   z-index:0;
 }



 #coin {
   position:absolute;
    left: -2vw;
    top: -13px;
   display: inline-block;
   width: 34px;
   height: 34px;
   border-radius:50px;
   background:#f7931a;
   background-color:#fff;
   font-size:20px;
   background: rgba(241,203,101,1);
    background: -moz-linear-gradient(left, rgba(241,203,101,1) 0%, rgba(241,203,101,1) 2%, rgba(254,145,67,0.9) 47%, rgba(254,145,67,0.79) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,203,101,1)), color-stop(2%, rgba(241,203,101,1)), color-stop(47%, rgba(254,145,67,0.9)), color-stop(100%, rgba(254,145,67,0.79)));
    background: -webkit-linear-gradient(left, rgba(241,203,101,1) 0%, rgba(241,203,101,1) 2%, rgba(254,145,67,0.9) 47%, rgba(254,145,67,0.79) 100%);
    background: -o-linear-gradient(left, rgba(241,203,101,1) 0%, rgba(241,203,101,1) 2%, rgba(254,145,67,0.9) 47%, rgba(254,145,67,0.79) 100%);
    background: -ms-linear-gradient(left, rgba(241,203,101,1) 0%, rgba(241,203,101,1) 2%, rgba(254,145,67,0.9) 47%, rgba(254,145,67,0.79) 100%);
    background: linear-gradient(to right, rgba(241,203,101,1) 0%, rgba(241,203,101,1) 2%, rgba(254,145,67,0.9) 47%, rgba(254,145,67,0.79) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1cb65', endColorstr='#fe9143', GradientType=1 );
   -webkit-animation:slide 8s  1;
   -moz-animation:slide 8s  1;
   animation:slide 8s  1;

  //  line-height:38px;
   z-index:-2;
   opacity: 0;
   margin: 30px;
 }




 .b{
   display: inline-block;
  //  transform:rotate(-5deg);
  //  -ms-transform:rotate(-5deg); /* IE 9 */
  //  -webkit-transform:rotate(-5deg); /* Safari and Chrome */
   -webkit-animation:spincoin 2s ease-in-out infinite;
   -moz-animation:spincoin 2s ease-in-out infinite;
   animation:spincoin 2s ease-in-out infinite;
   margin-left: 10px;
 }

 .logo-text {

   font-style:italic;
   font-weight:bold;
   font-size: 50px;
  display: inline-block;
  background-image: -webkit-linear-gradient(#F0E68C, #209);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;

 }
 h2{
    text-align: center;
    padding: 1vw;



     display: inline-block;
     background-image: -webkit-linear-gradient(#337ab7, #209);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     position:relative;
     z-index: 1;
 }

 h2:hover{




     display: inline-block;
     background-image: -webkit-linear-gradient(#eee, rgba(119, 103, 18, 0.95));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     position:relative;
 }
 .form{}

 // .accept {
 //   position:relative;
 //   margin-left:84px;
 //   font-style: italic;
 //   font-weight: normal;
 //   font-size:14px;
 // }
//this is starting point
 @-moz-keyframes spincoin {
   0%  { -moz-transform: rotate(-346deg); }
   50% { -moz-transform: rotate(0deg); }
   90% { -moz-transform: rotate(360deg); }
 }
 @-webkit-keyframes spincoin {
   0%  { -webkit-transform: rotate(-260deg); }
   50% { -webkit-transform: rotate(0deg); }
   90% { -webkit-transform: rotate(360deg); }
 }
 @keyframes spincoin {
   0%  { -webkit-transform: rotate(-346deg);
         transform:rotate(-346deg); }
   50% { -webkit-transform: rotate(0deg);
         transform:rotate(0deg); }
         90% { -webkit-transform: rotate(0deg);
               transform:rotate(360deg); }
 }

.form{
  text-align: center;
}


 textarea {
     resize: none;
     }

.map_canvas{
  width: 10vw;
  height: 10vw;
}

.search{
  position: absolute;
    left: 10vw;

}

.navbar-nav{

  color: yellow;

}

.centered{
    text-align:center;
}

// li.nav a:hover { color: #ead61c !important; }
//
 @-moz-keyframes slide {
   10%  { margin-left:1vw;opacity: 0;background-color: #001F3F;  }
   40%  { margin-left:5vw; }
   70%  { margin-left:10vw; }
   100%  { margin-left:12vw;opacity: 1 }

 }
 @-webkit-keyframes slide {
   10%  { margin-left:1vw;opacity: 0;    }

   40%  { margin-left:5vw; }
   70%  { margin-left:9vw;opacity: 1; }
   100%  { margin-left:12vw; }

 }
 @keyframes slide {
   10%  { margin-left:0vw; opacity: 0;background-color: #001F3F;  }
   40%  { margin-left:8vw;  }
   70%  { margin-left:12vw;  }
   100%  { margin-left:19vw;  opacity: 1;}

 }
 .container .index{
   text-align: center;

 }
body{
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.71) 50%, rgba(255,255,255,0.7) 51%, rgba(255,255,255,0.41) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,0.71)), color-stop(51%, rgba(255,255,255,0.7)), color-stop(100%, rgba(255,255,255,0.41)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.71) 50%, rgba(255,255,255,0.7) 51%, rgba(255,255,255,0.41) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.71) 50%, rgba(255,255,255,0.7) 51%, rgba(255,255,255,0.41) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.71) 50%, rgba(255,255,255,0.7) 51%, rgba(255,255,255,0.41) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.71) 50%, rgba(255,255,255,0.7) 51%, rgba(255,255,255,0.41) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );



}
