

<script>

</script>

<% @categories.each do |category|%>



			<div class="col-md-4">
			<h1  class="col-md-4">

					<%= link_to category.name, category_path(category.name) %></h1>
			<div class="col-md-4">

		</div>
	</div>

		<%end%>
