<h1>categories/show/views

<%=@category.name%>
  </h1>

<%@category.items.each do |item|%>
<ul>
  <h2>
  <p><hr><%=link_to item.name, category_items_path(@category.name, item.name)%></p></br
  </h2>
</ul>
<%end%>

<%=link_to "All categories", root_path%>
